#Data Science Tools and Ecosystem

**Objectives:**
- popular languages that Data Scientists use
- libraries used by Data Scientists
- examples of evaluating arithmetic expressions
- Author's name

##In this notebook, Data Science Tools and Ecosystem are summarized.

###Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python </li>
  <li>R </li>
  <li>Java </li>


<ol>

###Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>Pandas </li>
  <li>Numpy </li>
  <li>Matpotlib </li>

<ol>

  | Data Science Tools |
  |:--------:|
  |  Jupyter Notebooks  |
  |  RStudio |
  |  Visual Studio Code (VS Code) |

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
houres = minutes / 60

print(houres)

3.3333333333333335

##Author
Name: Abdulaziz Nasser